{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://accesscontextmanager.googleapis.com/"
        }
    ],
    "info": {
        "contact": {
            "name": "Google",
            "url": "https://google.com"
        },
        "description": "An API for setting attribute based access control to requests to GCP services.",
        "title": "Access Context Manager",
        "version": "v1beta",
        "x-apiClientRegistration": {
            "url": "https://console.developers.google.com"
        },
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "google",
                "url": "https://accesscontextmanager.googleapis.com/$discovery/rest?version=v1beta",
                "version": "v1"
            }
        ],
        "x-preferred": true,
        "x-providerName": "googleapis.com",
        "x-serviceName": "accesscontextmanager"
    },
    "externalDocs": {
        "url": "https://cloud.google.com/access-context-manager/docs/reference/rest/"
    },
    "tags": [
        {
            "name": "accessPolicies"
        },
        {
            "name": "operations"
        }
    ],
    "paths": {
        "/v1beta/accessPolicies": {
            "get": {
                "description": "List all AccessPolicies under a\ncontainer.",
                "operationId": "accesscontextmanager.accessPolicies.list",
                "parameters": [
                    {
                        "description": "Number of AccessPolicy instances to include in the list. Default 100.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Next page token for the next batch of AccessPolicy instances. Defaults to\nthe first page of results.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Required. Resource name for the container to list AccessPolicy instances\nfrom.\n\nFormat:\n`organizations/{org_id}`",
                        "in": "query",
                        "name": "parent",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A response to `ListAccessPoliciesRequest`.",
                                    "properties": {
                                        "accessPolicies": {
                                            "description": "List of the AccessPolicy instances.",
                                            "items": {
                                                "description": "`AccessPolicy` is a container for `AccessLevels` (which define the necessary\nattributes to use GCP services) and `ServicePerimeters` (which define regions\nof services able to freely pass data within a perimeter). An access policy is\nglobally visible within an organization, and the restrictions it specifies\napply to all projects within an organization.",
                                                "properties": {
                                                    "createTime": {
                                                        "description": "Output only. Time the `AccessPolicy` was created in UTC.",
                                                        "format": "google-datetime",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Output only. Resource name of the `AccessPolicy`. Format:\n`accessPolicies/{policy_id}`",
                                                        "type": "string"
                                                    },
                                                    "parent": {
                                                        "description": "Required. The parent of this `AccessPolicy` in the Cloud Resource\nHierarchy. Currently immutable once created. Format:\n`organizations/{organization_id}`",
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "description": "Required. Human readable title. Does not affect behavior.",
                                                        "type": "string"
                                                    },
                                                    "updateTime": {
                                                        "description": "Output only. Time the `AccessPolicy` was updated in UTC.",
                                                        "format": "google-datetime",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextPageToken": {
                                            "description": "The pagination token to retrieve the next page of results. If the value is\nempty, no further results remain.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "accessPolicies"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Create an `AccessPolicy`. Fails if this organization already has a\n`AccessPolicy`. The longrunning Operation will have a successful status\nonce the `AccessPolicy` has propagated to long-lasting storage.\nSyntactic and basic semantic errors will be returned in `metadata` as a\nBadRequest proto.",
                "operationId": "accesscontextmanager.accessPolicies.create",
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
                                    "properties": {
                                        "done": {
                                            "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
                                            "type": "boolean"
                                        },
                                        "error": {
                                            "description": "The error result of the operation in case of failure or cancellation.",
                                            "properties": {
                                                "code": {
                                                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                                                    "items": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object. Contains field @type with type URL."
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "metadata": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                                            "type": "object"
                                        },
                                        "name": {
                                            "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                                            "type": "string"
                                        },
                                        "response": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "accessPolicies"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "`AccessPolicy` is a container for `AccessLevels` (which define the necessary\nattributes to use GCP services) and `ServicePerimeters` (which define regions\nof services able to freely pass data within a perimeter). An access policy is\nglobally visible within an organization, and the restrictions it specifies\napply to all projects within an organization.",
                                "properties": {
                                    "createTime": {
                                        "description": "Output only. Time the `AccessPolicy` was created in UTC.",
                                        "format": "google-datetime",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "Output only. Resource name of the `AccessPolicy`. Format:\n`accessPolicies/{policy_id}`",
                                        "type": "string"
                                    },
                                    "parent": {
                                        "description": "Required. The parent of this `AccessPolicy` in the Cloud Resource\nHierarchy. Currently immutable once created. Format:\n`organizations/{organization_id}`",
                                        "type": "string"
                                    },
                                    "title": {
                                        "description": "Required. Human readable title. Does not affect behavior.",
                                        "type": "string"
                                    },
                                    "updateTime": {
                                        "description": "Output only. Time the `AccessPolicy` was updated in UTC.",
                                        "format": "google-datetime",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1beta/{name}": {
            "delete": {
                "description": "Delete an Access Level by resource\nname. The longrunning operation from this RPC will have a successful status\nonce the Access Level has been removed\nfrom long-lasting storage.",
                "operationId": "accesscontextmanager.accessPolicies.accessLevels.delete",
                "parameters": [
                    {
                        "description": "Required. Resource name for the Access Level.\n\nFormat:\n`accessPolicies/{policy_id}/accessLevels/{access_level_id}`",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
                                    "properties": {
                                        "done": {
                                            "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
                                            "type": "boolean"
                                        },
                                        "error": {
                                            "description": "The error result of the operation in case of failure or cancellation.",
                                            "properties": {
                                                "code": {
                                                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                                                    "items": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object. Contains field @type with type URL."
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "metadata": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                                            "type": "object"
                                        },
                                        "name": {
                                            "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                                            "type": "string"
                                        },
                                        "response": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "accessPolicies"
                ]
            },
            "get": {
                "description": "Get an Access Level by resource\nname.",
                "operationId": "accesscontextmanager.accessPolicies.accessLevels.get",
                "parameters": [
                    {
                        "description": "Whether to return `BasicLevels` in the Cloud Common Expression\nLanguage rather than as `BasicLevels`. Defaults to AS_DEFINED, where\nAccess Levels\nare returned as `BasicLevels` or `CustomLevels` based on how they were\ncreated. If set to CEL, all Access Levels are returned as\n`CustomLevels`. In the CEL case, `BasicLevels` are translated to equivalent\n`CustomLevels`.",
                        "in": "query",
                        "name": "accessLevelFormat",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "LEVEL_FORMAT_UNSPECIFIED",
                                "AS_DEFINED",
                                "CEL"
                            ]
                        }
                    },
                    {
                        "description": "Required. Resource name for the Access Level.\n\nFormat:\n`accessPolicies/{policy_id}/accessLevels/{access_level_id}`",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "An `AccessLevel` is a label that can be applied to requests to GCP services,\nalong with a list of requirements necessary for the label to be applied.",
                                    "properties": {
                                        "basic": {
                                            "description": "A `BasicLevel` composed of `Conditions`.",
                                            "properties": {
                                                "combiningFunction": {
                                                    "description": "How the `conditions` list should be combined to determine if a request is\ngranted this `AccessLevel`. If AND is used, each `Condition` in\n`conditions` must be satisfied for the `AccessLevel` to be applied. If OR\nis used, at least one `Condition` in `conditions` must be satisfied for the\n`AccessLevel` to be applied. Default behavior is AND.",
                                                    "enum": [
                                                        "AND",
                                                        "OR"
                                                    ],
                                                    "type": "string"
                                                },
                                                "conditions": {
                                                    "description": "Required. A list of requirements for the `AccessLevel` to be granted.",
                                                    "items": {
                                                        "description": "A condition necessary for an `AccessLevel` to be granted. The Condition is an\nAND over its fields. So a Condition is true if: 1) the request IP is from one\nof the listed subnetworks AND 2) the originating device complies with the\nlisted device policy AND 3) all listed access levels are granted AND 4) the\nrequest was sent at a time allowed by the DateTimeRestriction.",
                                                        "properties": {
                                                            "devicePolicy": {
                                                                "description": "Device specific restrictions, all restrictions must hold for the\nCondition to be true. If not specified, all devices are allowed.",
                                                                "properties": {
                                                                    "allowedDeviceManagementLevels": {
                                                                        "description": "Allowed device management levels, an empty list allows all management\nlevels.",
                                                                        "items": {
                                                                            "enum": [
                                                                                "MANAGEMENT_UNSPECIFIED",
                                                                                "NONE",
                                                                                "BASIC",
                                                                                "COMPLETE"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "allowedEncryptionStatuses": {
                                                                        "description": "Allowed encryptions statuses, an empty list allows all statuses.",
                                                                        "items": {
                                                                            "enum": [
                                                                                "ENCRYPTION_UNSPECIFIED",
                                                                                "ENCRYPTION_UNSUPPORTED",
                                                                                "UNENCRYPTED",
                                                                                "ENCRYPTED"
                                                                            ],
                                                                            "type": "string"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "osConstraints": {
                                                                        "description": "Allowed OS versions, an empty list allows all types and all versions.",
                                                                        "items": {
                                                                            "description": "A restriction on the OS type and version of devices making requests.",
                                                                            "properties": {
                                                                                "minimumVersion": {
                                                                                    "description": "The minimum allowed OS version. If not set, any version of this OS\nsatisfies the constraint. Format: `\"major.minor.patch\"`.\nExamples: `\"10.5.301\"`, `\"9.2.1\"`.",
                                                                                    "type": "string"
                                                                                },
                                                                                "osType": {
                                                                                    "description": "Required. The allowed OS type.",
                                                                                    "enum": [
                                                                                        "OS_UNSPECIFIED",
                                                                                        "DESKTOP_MAC",
                                                                                        "DESKTOP_WINDOWS",
                                                                                        "DESKTOP_LINUX",
                                                                                        "DESKTOP_CHROME_OS"
                                                                                    ],
                                                                                    "type": "string"
                                                                                },
                                                                                "requireVerifiedChromeOs": {
                                                                                    "description": "Only allows requests from devices with a verified Chrome OS.\nVerifications includes requirements that the device is enterprise-managed,\nconformant to Dasher domain policies, and the caller has permission to call\nthe API targeted by the request.",
                                                                                    "type": "boolean"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "type": "array"
                                                                    },
                                                                    "requireAdminApproval": {
                                                                        "description": "Whether the device needs to be approved by the customer admin.",
                                                                        "type": "boolean"
                                                                    },
                                                                    "requireCorpOwned": {
                                                                        "description": "Whether the device needs to be corp owned.",
                                                                        "type": "boolean"
                                                                    },
                                                                    "requireScreenlock": {
                                                                        "description": "Whether or not screenlock is required for the DevicePolicy to be true.\nDefaults to `false`.",
                                                                        "type": "boolean"
                                                                    }
                                                                },
                                                                "type": "object"
                                                            },
                                                            "ipSubnetworks": {
                                                                "description": "CIDR block IP subnetwork specification. May be IPv4 or IPv6. Note that for\na CIDR IP address block, the specified IP address portion must be properly\ntruncated (i.e. all the host bits must be zero) or the input is considered\nmalformed. For example, \"192.0.2.0/24\" is accepted but \"192.0.2.1/24\" is\nnot. Similarly, for IPv6, \"2001:db8::/32\" is accepted whereas\n\"2001:db8::1/32\" is not. The originating IP of a request must be in one of\nthe listed subnets in order for this Condition to be true. If empty, all IP\naddresses are allowed.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "members": {
                                                                "description": "The request must be made by one of the provided user or service\naccounts. Groups are not supported.\nSyntax:\n`user:{emailid}`\n`serviceAccount:{emailid}`\nIf not specified, a request may come from any user.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "negate": {
                                                                "description": "Whether to negate the Condition. If true, the Condition becomes a NAND over\nits non-empty fields, each field must be false for the Condition overall to\nbe satisfied. Defaults to false.",
                                                                "type": "boolean"
                                                            },
                                                            "regions": {
                                                                "description": "The request must originate from one of the provided countries/regions.\nMust be valid ISO 3166-1 alpha-2 codes.",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "requiredAccessLevels": {
                                                                "description": "A list of other access levels defined in the same `Policy`, referenced by\nresource name. Referencing an `AccessLevel` which does not exist is an\nerror. All access levels listed must be granted for the Condition\nto be true. Example:\n\"`accessPolicies/MY_POLICY/accessLevels/LEVEL_NAME\"`",
                                                                "items": {
                                                                    "type": "string"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "createTime": {
                                            "description": "Output only. Time the `AccessLevel` was created in UTC.",
                                            "format": "google-datetime",
                                            "type": "string"
                                        },
                                        "description": {
                                            "description": "Description of the `AccessLevel` and its use. Does not affect behavior.",
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Required. Resource name for the Access Level. The `short_name` component\nmust begin with a letter and only include alphanumeric and '_'. Format:\n`accessPolicies/{policy_id}/accessLevels/{short_name}`",
                                            "type": "string"
                                        },
                                        "title": {
                                            "description": "Human readable title. Must be unique within the Policy.",
                                            "type": "string"
                                        },
                                        "updateTime": {
                                            "description": "Output only. Time the `AccessLevel` was updated in UTC.",
                                            "format": "google-datetime",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "accessPolicies"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "Update an Access Level. The longrunning\noperation from this RPC will have a successful status once the changes to\nthe Access Level have propagated\nto long-lasting storage. Access Levels containing\nerrors will result in an error response for the first error encountered.",
                "operationId": "accesscontextmanager.accessPolicies.accessLevels.patch",
                "parameters": [
                    {
                        "description": "Required. Resource name for the Access Level. The `short_name` component\nmust begin with a letter and only include alphanumeric and '_'. Format:\n`accessPolicies/{policy_id}/accessLevels/{short_name}`",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Required.  Mask to control which fields get updated. Must be non-empty.",
                        "in": "query",
                        "name": "updateMask",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
                                    "properties": {
                                        "done": {
                                            "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
                                            "type": "boolean"
                                        },
                                        "error": {
                                            "description": "The error result of the operation in case of failure or cancellation.",
                                            "properties": {
                                                "code": {
                                                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                                                    "items": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object. Contains field @type with type URL."
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "metadata": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                                            "type": "object"
                                        },
                                        "name": {
                                            "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                                            "type": "string"
                                        },
                                        "response": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "accessPolicies"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "An `AccessLevel` is a label that can be applied to requests to GCP services,\nalong with a list of requirements necessary for the label to be applied.",
                                "properties": {
                                    "basic": {
                                        "description": "A `BasicLevel` composed of `Conditions`.",
                                        "properties": {
                                            "combiningFunction": {
                                                "description": "How the `conditions` list should be combined to determine if a request is\ngranted this `AccessLevel`. If AND is used, each `Condition` in\n`conditions` must be satisfied for the `AccessLevel` to be applied. If OR\nis used, at least one `Condition` in `conditions` must be satisfied for the\n`AccessLevel` to be applied. Default behavior is AND.",
                                                "enum": [
                                                    "AND",
                                                    "OR"
                                                ],
                                                "type": "string"
                                            },
                                            "conditions": {
                                                "description": "Required. A list of requirements for the `AccessLevel` to be granted.",
                                                "items": {
                                                    "description": "A condition necessary for an `AccessLevel` to be granted. The Condition is an\nAND over its fields. So a Condition is true if: 1) the request IP is from one\nof the listed subnetworks AND 2) the originating device complies with the\nlisted device policy AND 3) all listed access levels are granted AND 4) the\nrequest was sent at a time allowed by the DateTimeRestriction.",
                                                    "properties": {
                                                        "devicePolicy": {
                                                            "description": "Device specific restrictions, all restrictions must hold for the\nCondition to be true. If not specified, all devices are allowed.",
                                                            "properties": {
                                                                "allowedDeviceManagementLevels": {
                                                                    "description": "Allowed device management levels, an empty list allows all management\nlevels.",
                                                                    "items": {
                                                                        "enum": [
                                                                            "MANAGEMENT_UNSPECIFIED",
                                                                            "NONE",
                                                                            "BASIC",
                                                                            "COMPLETE"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "allowedEncryptionStatuses": {
                                                                    "description": "Allowed encryptions statuses, an empty list allows all statuses.",
                                                                    "items": {
                                                                        "enum": [
                                                                            "ENCRYPTION_UNSPECIFIED",
                                                                            "ENCRYPTION_UNSUPPORTED",
                                                                            "UNENCRYPTED",
                                                                            "ENCRYPTED"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "osConstraints": {
                                                                    "description": "Allowed OS versions, an empty list allows all types and all versions.",
                                                                    "items": {
                                                                        "description": "A restriction on the OS type and version of devices making requests.",
                                                                        "properties": {
                                                                            "minimumVersion": {
                                                                                "description": "The minimum allowed OS version. If not set, any version of this OS\nsatisfies the constraint. Format: `\"major.minor.patch\"`.\nExamples: `\"10.5.301\"`, `\"9.2.1\"`.",
                                                                                "type": "string"
                                                                            },
                                                                            "osType": {
                                                                                "description": "Required. The allowed OS type.",
                                                                                "enum": [
                                                                                    "OS_UNSPECIFIED",
                                                                                    "DESKTOP_MAC",
                                                                                    "DESKTOP_WINDOWS",
                                                                                    "DESKTOP_LINUX",
                                                                                    "DESKTOP_CHROME_OS"
                                                                                ],
                                                                                "type": "string"
                                                                            },
                                                                            "requireVerifiedChromeOs": {
                                                                                "description": "Only allows requests from devices with a verified Chrome OS.\nVerifications includes requirements that the device is enterprise-managed,\nconformant to Dasher domain policies, and the caller has permission to call\nthe API targeted by the request.",
                                                                                "type": "boolean"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "requireAdminApproval": {
                                                                    "description": "Whether the device needs to be approved by the customer admin.",
                                                                    "type": "boolean"
                                                                },
                                                                "requireCorpOwned": {
                                                                    "description": "Whether the device needs to be corp owned.",
                                                                    "type": "boolean"
                                                                },
                                                                "requireScreenlock": {
                                                                    "description": "Whether or not screenlock is required for the DevicePolicy to be true.\nDefaults to `false`.",
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "ipSubnetworks": {
                                                            "description": "CIDR block IP subnetwork specification. May be IPv4 or IPv6. Note that for\na CIDR IP address block, the specified IP address portion must be properly\ntruncated (i.e. all the host bits must be zero) or the input is considered\nmalformed. For example, \"192.0.2.0/24\" is accepted but \"192.0.2.1/24\" is\nnot. Similarly, for IPv6, \"2001:db8::/32\" is accepted whereas\n\"2001:db8::1/32\" is not. The originating IP of a request must be in one of\nthe listed subnets in order for this Condition to be true. If empty, all IP\naddresses are allowed.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "members": {
                                                            "description": "The request must be made by one of the provided user or service\naccounts. Groups are not supported.\nSyntax:\n`user:{emailid}`\n`serviceAccount:{emailid}`\nIf not specified, a request may come from any user.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "negate": {
                                                            "description": "Whether to negate the Condition. If true, the Condition becomes a NAND over\nits non-empty fields, each field must be false for the Condition overall to\nbe satisfied. Defaults to false.",
                                                            "type": "boolean"
                                                        },
                                                        "regions": {
                                                            "description": "The request must originate from one of the provided countries/regions.\nMust be valid ISO 3166-1 alpha-2 codes.",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        },
                                                        "requiredAccessLevels": {
                                                            "description": "A list of other access levels defined in the same `Policy`, referenced by\nresource name. Referencing an `AccessLevel` which does not exist is an\nerror. All access levels listed must be granted for the Condition\nto be true. Example:\n\"`accessPolicies/MY_POLICY/accessLevels/LEVEL_NAME\"`",
                                                            "items": {
                                                                "type": "string"
                                                            },
                                                            "type": "array"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "createTime": {
                                        "description": "Output only. Time the `AccessLevel` was created in UTC.",
                                        "format": "google-datetime",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "Description of the `AccessLevel` and its use. Does not affect behavior.",
                                        "type": "string"
                                    },
                                    "name": {
                                        "description": "Required. Resource name for the Access Level. The `short_name` component\nmust begin with a letter and only include alphanumeric and '_'. Format:\n`accessPolicies/{policy_id}/accessLevels/{short_name}`",
                                        "type": "string"
                                    },
                                    "title": {
                                        "description": "Human readable title. Must be unique within the Policy.",
                                        "type": "string"
                                    },
                                    "updateTime": {
                                        "description": "Output only. Time the `AccessLevel` was updated in UTC.",
                                        "format": "google-datetime",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1beta/{parent}/accessLevels": {
            "get": {
                "description": "List all Access Levels for an access\npolicy.",
                "operationId": "accesscontextmanager.accessPolicies.accessLevels.list",
                "parameters": [
                    {
                        "description": "Whether to return `BasicLevels` in the Cloud Common Expression language, as\n`CustomLevels`, rather than as `BasicLevels`. Defaults to returning\n`AccessLevels` in the format they were defined.",
                        "in": "query",
                        "name": "accessLevelFormat",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "LEVEL_FORMAT_UNSPECIFIED",
                                "AS_DEFINED",
                                "CEL"
                            ]
                        }
                    },
                    {
                        "description": "Number of Access Levels to include in\nthe list. Default 100.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "Next page token for the next batch of Access Level instances.\nDefaults to the first page of results.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Required. Resource name for the access policy to list Access Levels from.\n\nFormat:\n`accessPolicies/{policy_id}`",
                        "in": "path",
                        "name": "parent",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A response to `ListAccessLevelsRequest`.",
                                    "properties": {
                                        "accessLevels": {
                                            "description": "List of the Access Level instances.",
                                            "items": {
                                                "description": "An `AccessLevel` is a label that can be applied to requests to GCP services,\nalong with a list of requirements necessary for the label to be applied.",
                                                "properties": {
                                                    "basic": {
                                                        "description": "A `BasicLevel` composed of `Conditions`.",
                                                        "properties": {
                                                            "combiningFunction": {
                                                                "description": "How the `conditions` list should be combined to determine if a request is\ngranted this `AccessLevel`. If AND is used, each `Condition` in\n`conditions` must be satisfied for the `AccessLevel` to be applied. If OR\nis used, at least one `Condition` in `conditions` must be satisfied for the\n`AccessLevel` to be applied. Default behavior is AND.",
                                                                "enum": [
                                                                    "AND",
                                                                    "OR"
                                                                ],
                                                                "type": "string"
                                                            },
                                                            "conditions": {
                                                                "description": "Required. A list of requirements for the `AccessLevel` to be granted.",
                                                                "items": {
                                                                    "description": "A condition necessary for an `AccessLevel` to be granted. The Condition is an\nAND over its fields. So a Condition is true if: 1) the request IP is from one\nof the listed subnetworks AND 2) the originating device complies with the\nlisted device policy AND 3) all listed access levels are granted AND 4) the\nrequest was sent at a time allowed by the DateTimeRestriction.",
                                                                    "properties": {
                                                                        "devicePolicy": {
                                                                            "description": "Device specific restrictions, all restrictions must hold for the\nCondition to be true. If not specified, all devices are allowed.",
                                                                            "properties": {
                                                                                "allowedDeviceManagementLevels": {
                                                                                    "description": "Allowed device management levels, an empty list allows all management\nlevels.",
                                                                                    "items": {
                                                                                        "enum": [
                                                                                            "MANAGEMENT_UNSPECIFIED",
                                                                                            "NONE",
                                                                                            "BASIC",
                                                                                            "COMPLETE"
                                                                                        ],
                                                                                        "type": "string"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "allowedEncryptionStatuses": {
                                                                                    "description": "Allowed encryptions statuses, an empty list allows all statuses.",
                                                                                    "items": {
                                                                                        "enum": [
                                                                                            "ENCRYPTION_UNSPECIFIED",
                                                                                            "ENCRYPTION_UNSUPPORTED",
                                                                                            "UNENCRYPTED",
                                                                                            "ENCRYPTED"
                                                                                        ],
                                                                                        "type": "string"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "osConstraints": {
                                                                                    "description": "Allowed OS versions, an empty list allows all types and all versions.",
                                                                                    "items": {
                                                                                        "description": "A restriction on the OS type and version of devices making requests.",
                                                                                        "properties": {
                                                                                            "minimumVersion": {
                                                                                                "description": "The minimum allowed OS version. If not set, any version of this OS\nsatisfies the constraint. Format: `\"major.minor.patch\"`.\nExamples: `\"10.5.301\"`, `\"9.2.1\"`.",
                                                                                                "type": "string"
                                                                                            },
                                                                                            "osType": {
                                                                                                "description": "Required. The allowed OS type.",
                                                                                                "enum": [
                                                                                                    "OS_UNSPECIFIED",
                                                                                                    "DESKTOP_MAC",
                                                                                                    "DESKTOP_WINDOWS",
                                                                                                    "DESKTOP_LINUX",
                                                                                                    "DESKTOP_CHROME_OS"
                                                                                                ],
                                                                                                "type": "string"
                                                                                            },
                                                                                            "requireVerifiedChromeOs": {
                                                                                                "description": "Only allows requests from devices with a verified Chrome OS.\nVerifications includes requirements that the device is enterprise-managed,\nconformant to Dasher domain policies, and the caller has permission to call\nthe API targeted by the request.",
                                                                                                "type": "boolean"
                                                                                            }
                                                                                        },
                                                                                        "type": "object"
                                                                                    },
                                                                                    "type": "array"
                                                                                },
                                                                                "requireAdminApproval": {
                                                                                    "description": "Whether the device needs to be approved by the customer admin.",
                                                                                    "type": "boolean"
                                                                                },
                                                                                "requireCorpOwned": {
                                                                                    "description": "Whether the device needs to be corp owned.",
                                                                                    "type": "boolean"
                                                                                },
                                                                                "requireScreenlock": {
                                                                                    "description": "Whether or not screenlock is required for the DevicePolicy to be true.\nDefaults to `false`.",
                                                                                    "type": "boolean"
                                                                                }
                                                                            },
                                                                            "type": "object"
                                                                        },
                                                                        "ipSubnetworks": {
                                                                            "description": "CIDR block IP subnetwork specification. May be IPv4 or IPv6. Note that for\na CIDR IP address block, the specified IP address portion must be properly\ntruncated (i.e. all the host bits must be zero) or the input is considered\nmalformed. For example, \"192.0.2.0/24\" is accepted but \"192.0.2.1/24\" is\nnot. Similarly, for IPv6, \"2001:db8::/32\" is accepted whereas\n\"2001:db8::1/32\" is not. The originating IP of a request must be in one of\nthe listed subnets in order for this Condition to be true. If empty, all IP\naddresses are allowed.",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "members": {
                                                                            "description": "The request must be made by one of the provided user or service\naccounts. Groups are not supported.\nSyntax:\n`user:{emailid}`\n`serviceAccount:{emailid}`\nIf not specified, a request may come from any user.",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "negate": {
                                                                            "description": "Whether to negate the Condition. If true, the Condition becomes a NAND over\nits non-empty fields, each field must be false for the Condition overall to\nbe satisfied. Defaults to false.",
                                                                            "type": "boolean"
                                                                        },
                                                                        "regions": {
                                                                            "description": "The request must originate from one of the provided countries/regions.\nMust be valid ISO 3166-1 alpha-2 codes.",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        },
                                                                        "requiredAccessLevels": {
                                                                            "description": "A list of other access levels defined in the same `Policy`, referenced by\nresource name. Referencing an `AccessLevel` which does not exist is an\nerror. All access levels listed must be granted for the Condition\nto be true. Example:\n\"`accessPolicies/MY_POLICY/accessLevels/LEVEL_NAME\"`",
                                                                            "items": {
                                                                                "type": "string"
                                                                            },
                                                                            "type": "array"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "createTime": {
                                                        "description": "Output only. Time the `AccessLevel` was created in UTC.",
                                                        "format": "google-datetime",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": "Description of the `AccessLevel` and its use. Does not affect behavior.",
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Required. Resource name for the Access Level. The `short_name` component\nmust begin with a letter and only include alphanumeric and '_'. Format:\n`accessPolicies/{policy_id}/accessLevels/{short_name}`",
                                                        "type": "string"
                                                    },
                                                    "title": {
                                                        "description": "Human readable title. Must be unique within the Policy.",
                                                        "type": "string"
                                                    },
                                                    "updateTime": {
                                                        "description": "Output only. Time the `AccessLevel` was updated in UTC.",
                                                        "format": "google-datetime",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextPageToken": {
                                            "description": "The pagination token to retrieve the next page of results. If the value is\nempty, no further results remain.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "accessPolicies"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Create an Access Level. The longrunning\noperation from this RPC will have a successful status once the Access\nLevel has\npropagated to long-lasting storage. Access Levels containing\nerrors will result in an error response for the first error encountered.",
                "operationId": "accesscontextmanager.accessPolicies.accessLevels.create",
                "parameters": [
                    {
                        "description": "Required. Resource name for the access policy which owns this Access\nLevel.\n\nFormat: `accessPolicies/{policy_id}`",
                        "in": "path",
                        "name": "parent",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
                                    "properties": {
                                        "done": {
                                            "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
                                            "type": "boolean"
                                        },
                                        "error": {
                                            "description": "The error result of the operation in case of failure or cancellation.",
                                            "properties": {
                                                "code": {
                                                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                                                    "items": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object. Contains field @type with type URL."
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "metadata": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                                            "type": "object"
                                        },
                                        "name": {
                                            "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                                            "type": "string"
                                        },
                                        "response": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
[...]
